/*  Comment */
body {background-color:"#FFFFFF"}


body { 
 font-family: Ariel, Helvetica, Geneva, Swiss, SunSans-Regular;
      font-size: 12pt;
      font-style: normal; 
      font-weight: normal;  
      line-height: normal; 
      color: #303030 }
